*{
    padding: 0px;
    margin: 0px 0px;
}
.search-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 8px gray;
    width: 500px;
    margin: 10px auto;
    border-radius: 5px;
}
.search-input{
    box-shadow: 4px 4px 8px gray;
    width: 400px;
    border: none;
    padding: 4px;
    inline-size: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-btn{
    padding: 5px 10px;
    border: none;
    background-color: red;
    width: 100px;
    color: white;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 8px gray;
}
.search-btn:hover{
    background-color: brown;
}
.sports-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}
.sports-card-main-container{
    width: 70%;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    padding: 10px;
    height: auto;
}
.sports-selected-card-container{
    width: 30%;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    padding: 10px;
    background-color: #f1d7fa;
}
.sports-card-main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.person-profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px auto;
    box-shadow: 4px 4px 12px gray;
}
.image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.not-found-container{
    margin: auto;
    font-weight: bold;
}
.person-card{
    width: 220px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px gray;
    padding: 20px;
    margin-bottom: 20px;
    font-size: small;
    background-color: white;
}
.btn-style{
    border: none;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
}
.btn-style:hover{
    opacity: .8;
}
.detail-btn{
    background-color: #b71540;
}
.add-btn{
    background-color: #3c40c6;
}
.sports-group-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 20px;
}
.footer-style{
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}